.pfp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutDescription {
  margin-top: 25px;
}
.aboutlinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

