.navbar {
    background-color: #001529;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @media (min-width: 992px) {
    .menu {
      display: none;
    }
  }
  @media (max-width: 992px) {
      .menu {
          display: inline-block;
          vertical-align: middle;
          
          
      }
  }
  .ant-drawer-body {
    background-color: #001529;
  }
  .name {
      font-size: 3vw;
      color: white;
      font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 10px;
  }
  .namediv {
      width: 90%;
      display: inline-block;
      vertical-align: middle;
      min-width: 250px;
  }
  .container {
      text-align: center;
      
  }
 
